name: Create and publish Docker image

on: push

jobs:
  build_and_publish:
    strategy:
      matrix:
        platform: [moddwarf-new]

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: "./docker/Dockerfile"
          push: true
          tags: ghcr.io/davemollen/${{ matrix.platform }}-plugin-builder:latest
          build-args: platform=${{ matrix.platform }}

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v1
        with:
          subject-name: ghcr.io/davemollen/${{ matrix.platform }}-plugin-builder
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
